<!DOCTYPE html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/favicon.ico') }}" rel="icon" type="image/x-icon">
</head>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ body|safe }}</p>
</body>
</html>
